<!-- <app-cabecera [titulo]="constantes._favoresRealizados"></app-cabecera> -->

<ion-content>
  

    <ion-list>
      <ion-item-sliding>
        <ion-item>
          <ion-label>Item R</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)">Unread</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    
      <ion-item-sliding>
        <ion-item>
          <ion-label>Item</ion-label>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)">Unread</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
  </ion-content>
  
  <app-pie-pagina></app-pie-pagina>