<app-cabecera [titulo]="constantes._datosPersonales" [ocultarBotones]=true></app-cabecera>

<ion-content class="ion-padding">
  <form (submit)="finalizar()" [formGroup]="formularioDatosPersonales" errorTailor>
    <div class="lista-datos">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="floating" for="identificacion" [color]="colorearLabel?'primary':''">
            {{constantes._identificacion}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input name="identificacion" id="identificacion" formControlName="identificacion" type="text"></ion-input>
        </ion-item>
        <div class="alert-danger" *ngIf="identificacion.invalid && (identificacion.dirty || identificacion.touched)">
          <div *ngFor="let error of mensajesError.identificacion">
            <small class="container-error-message" *ngIf="identificacion.hasError(error.tipo)">{{error.mensaje}}</small>
          </div>
        </div>
        <ion-item>
          <ion-label position="floating" for="nombresApellidos" [color]="colorearLabel?'primary':''">
            {{constantes._nombresApellidos}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input name="nombresApellidos" id="nombresApellidos" formControlName="nombresApellidos" type="text"></ion-input>
        </ion-item>
        <div class="alert-danger" *ngIf="nombresApellidos.invalid && (nombresApellidos.dirty || nombresApellidos.touched)">
          <div *ngFor="let error of mensajesError.nombresApellidos">
            <small class="container-error-message" *ngIf="nombresApellidos.hasError(error.tipo)">{{error.mensaje}}</small>
          </div>
        </div>
        <ion-item>
          <ion-label position="floating" for="pais" [color]="colorearLabel?'primary':''">
            {{constantes._pais}}
          </ion-label>
          <ion-select [compareWith]="compareWith" name="pais" id="pais" formControlName="pais" ok-text="Aceptar" cancel-text="Cancelar"
          [placeholder]="formularioDatosPersonales.value.pais ? formularioDatosPersonales.value.pais : 'Seleccione un país'" (ngModelChange)="seleccionarPais()" [ngStyle]="{'opacity': formularioDatosPersonales.value.pais?1:0.3}">
          <ion-select-option value="">Seleccione un país</ion-select-option>
            <ion-select-option *ngFor="let objPais of paises" [value]="objPais">
              {{objPais}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div class="alert-danger" *ngIf="pais.invalid && (pais.dirty || pais.touched)">
          <div *ngFor="let error of mensajesError.pais">
            <small class="container-error-message" *ngIf="pais.hasError(error.tipo)">{{error.mensaje}}</small>
          </div>
        </div>
        <ion-item *ngIf="formularioDatosPersonales.value.pais">
          <ion-label position="floating" for="ciudad" [color]="colorearLabel?'primary':''">{{constantes._ciudad}}</ion-label>
          <ion-select [compareWith]="compareWith" name="ciudad" id="ciudad" formControlName="ciudad" ok-text="Aceptar" cancel-text="Cancelar"
          [placeholder]="formularioDatosPersonales.value.ciudad ? formularioDatosPersonales.value.ciudad : 'Seleccione una ciudad'" [ngStyle]="{'opacity': formularioDatosPersonales.value.ciudad?1:0.3}">
          <ion-select-option value="">Seleccione una ciudad</ion-select-option>  
          <ion-select-option *ngFor="let objCiudad of ciudades" [value]="objCiudad">
              {{objCiudad}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div class="alert-danger" *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)">
          <div *ngFor="let error of mensajesError.ciudad">
            <small class="container-error-message" *ngIf="ciudad.hasError(error.tipo)">{{error.mensaje}}</small>
          </div>
        </div>
        <ion-item>
          <ion-label position="floating" for="direccion" [color]="colorearLabel?'primary':''">
            {{constantes._direccion}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input name="direccion" id="direccion" formControlName="direccion" type="text"></ion-input>
        </ion-item>
        <div class="alert-danger" *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)">
          <div *ngFor="let error of mensajesError.direccion">
            <small class="container-error-message" *ngIf="direccion.hasError(error.tipo)">{{error.mensaje}}</small>
          </div>
        </div>
        <ion-item>
          <ion-label position="floating" for="telefono" [color]="colorearLabel?'primary':''">
            {{constantes._telefono}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input name="telefono" id="telefono" formControlName="telefono" type="tel"></ion-input>
        </ion-item>
        <div class="alert-danger" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
          <div *ngFor="let error of mensajesError.telefono">
            <small class="container-error-message" *ngIf="telefono.hasError(error.tipo)">{{error.mensaje}}</small>
          </div>
        </div>
        <ion-item>
          <ion-label position="floating" for="nivelEstudios" [color]="colorearLabel?'primary':''">{{constantes._nivelEstudios}}</ion-label>
          <ion-select [compareWith]="compareWith" name="nivelEstudios" id="nivelEstudios" formControlName="nivelEstudios" ok-text="Aceptar" cancel-text="Cancelar"
          [placeholder]="formularioDatosPersonales.value.nivelEstudios ? formularioDatosPersonales.value.nivelEstudios : 'Seleccione un nivel de estudios'" (ngModelChange)="seleccionarNivelEstudios()" [ngStyle]="{'opacity': formularioDatosPersonales.value.nivelEstudios?1:0.3}">
            <ion-select-option value="">Seleccione un nivel de estudios</ion-select-option>  
            <ion-select-option *ngFor="let objNivelEstudios of nivelesEstudios" [value]="objNivelEstudios">
              {{objNivelEstudios}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div class="alert-danger" *ngIf="nivelEstudios.invalid && (nivelEstudios.dirty || nivelEstudios.touched)">
          <div *ngFor="let error of mensajesError.nivelEstudios">
            <small class="container-error-message" *ngIf="nivelEstudios.hasError(error.tipo)">{{error.mensaje}}</small>
          </div>
        </div>
        <ion-item *ngIf="formularioDatosPersonales.value.nivelEstudios && formularioDatosPersonales.value.nivelEstudios=='Profesional'">
          <ion-label position="floating" for="profesion" [color]="colorearLabel?'primary':''">{{constantes._profesion}}</ion-label>
          <ion-select [compareWith]="compareWith" name="profesion" id="profesion" formControlName="profesion" ok-text="Aceptar" cancel-text="Cancelar"
          [placeholder]="formularioDatosPersonales.value.profesion ? formularioDatosPersonales.value.profesion : 'Seleccione una profesion'" [ngStyle]="{'opacity': formularioDatosPersonales.value.profesion?1:0.3}">
            <ion-select-option value="">Seleccione una profesión</ion-select-option>
            <ion-select-option *ngFor="let objProfesion of profesiones" [value]="objProfesion">
              {{objProfesion}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div class="alert-danger" *ngIf="profesion.invalid && (profesion.dirty || profesion.touched)">
          <div *ngFor="let error of mensajesError.profesion">
            <small class="container-error-message" *ngIf="profesion.hasError(error.tipo)">{{error.mensaje}}</small>
          </div>
        </div>
        <ion-item>
          <ion-label position="floating" for="ocupacion" [color]="colorearLabel?'primary':''">
            {{constantes._ocupacion}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-select [compareWith]="compareWith" name="ocupacion" id="ocupacion" formControlName="ocupacion" ok-text="Aceptar" cancel-text="Cancelar"
          [placeholder]="formularioDatosPersonales.value.ocupacion ? formularioDatosPersonales.value.ocupacion : 'Seleccione una ocupacion'" [ngStyle]="{'opacity': formularioDatosPersonales.value.ocupacion?1:0.3}">
            <ion-select-option value="">Seleccione una ocupación</ion-select-option>  
            <ion-select-option *ngFor="let objOcupacion of ocupaciones" [value]="objOcupacion">
              {{objOcupacion}}
            </ion-select-option>
          </ion-select>        
        </ion-item>
        <div class="alert-danger" *ngIf="ocupacion.invalid && (ocupacion.dirty || ocupacion.touched)">
          <div *ngFor="let error of mensajesError.ocupacion">
            <small class="container-error-message" *ngIf="ocupacion.hasError(error.tipo)">{{error.mensaje}}</small>
          </div>
        </div>
        <ion-item>
          <ion-label position="floating" for="tipoLicencia" [color]="colorearLabel?'primary':''">{{constantes._tipoLicencia}}</ion-label>
          <ion-select [compareWith]="compareWith" name="tipoLicencia" id="tipoLicencia" formControlName="tipoLicencia" ok-text="Aceptar" cancel-text="Cancelar"
          [placeholder]="formularioDatosPersonales.value.tipoLicencia ? formularioDatosPersonales.value.tipoLicencia : 'Seleccione un tipo de licencia'" [ngStyle]="{'opacity': formularioDatosPersonales.value.tipoLicencia?1:0.3}">
            <ion-select-option value="">Seleccione un tipo de licencia</ion-select-option>
            <ion-select-option *ngFor="let objTipoLicencia of tiposLicencia" [value]="objTipoLicencia">
              {{objTipoLicencia}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div class="alert-danger" *ngIf="tipoLicencia.invalid && (tipoLicencia.dirty || tipoLicencia.touched)">
          <div *ngFor="let error of mensajesError.tipoLicencia">
            <small class="container-error-message" *ngIf="tipoLicencia.hasError(error.tipo)">{{error.mensaje}}</small>
          </div>
        </div>
        <ion-item>
          <ion-label position="floating" for="tipoVehiculo" [color]="colorearLabel?'primary':''">{{constantes._tipoVehiculo}}</ion-label>
          <ion-select [compareWith]="compareWith" name="tipoVehiculo" id="tipoVehiculo" formControlName="tipoVehiculo" ok-text="Aceptar" cancel-text="Cancelar"
          [placeholder]="formularioDatosPersonales.value.tipoVehiculo ? formularioDatosPersonales.value.tipoVehiculo : 'Seleccione un tipo de vehículo'" (ngModelChange)="seleccionarTipoVehiculo()" [ngStyle]="{'opacity': formularioDatosPersonales.value.tipoVehiculo?1:0.3}">
            <ion-select-option value="">Seleccione un tipo de vehículo</ion-select-option>
            <ion-select-option *ngFor="let objTipoVehiculo of tiposVehiculos" [value]="objTipoVehiculo">
              {{objTipoVehiculo}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div class="alert-danger" *ngIf="tipoVehiculo.invalid && (tipoVehiculo.dirty || tipoVehiculo.touched)">
          <div *ngFor="let error of mensajesError.tipoVehiculo">
            <small class="container-error-message" *ngIf="tipoVehiculo.hasError(error.tipo)">{{error.mensaje}}</small>
          </div>
        </div>
        <ion-item *ngIf="formularioDatosPersonales.value.tipoVehiculo">
          <ion-label position="floating" for="placaVehiculo" [color]="colorearLabel?'primary':''">
            {{constantes._placaVehiculo}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input name="placaVehiculo" id="placaVehiculo" formControlName="placaVehiculo" type="text"></ion-input>
        </ion-item>
        <div class="alert-danger" *ngIf="placaVehiculo.invalid && (placaVehiculo.dirty || placaVehiculo.touched)">
          <div *ngFor="let error of mensajesError.placaVehiculo">
            <small class="container-error-message" *ngIf="placaVehiculo.hasError(error.tipo)">{{error.mensaje}}</small>
          </div>
        </div>
        <ion-item>
          <ion-label position="floating" for="informacionAdicional" [color]="colorearLabel?'primary':''">{{constantes._informacionAdicional}}</ion-label>
          <ion-textarea  name="informacionAdicional" id="informacionAdicional" formControlName="informacionAdicional" rows="5"></ion-textarea>
        </ion-item>
        <div class="alert-danger" *ngIf="informacionAdicional.invalid && (informacionAdicional.dirty || informacionAdicional.touched)">
          <div *ngFor="let error of mensajesError.informacionAdicional">
            <small class="container-error-message" *ngIf="informacionAdicional.hasError(error.tipo)">{{error.mensaje}}</small>
          </div>
        </div>
      </ion-list>
    </div>
    <div class="botones-inferiores botones">
      <ion-button expand="block" type="submit">{{constantes._finalizar}}</ion-button>
    </div>
  </form>
</ion-content>

<!-- <ion-footer class="botones-inferiores">
  <div>
    <ion-button expand="block" type="ion-button" (click)="finalizar()" class="ion-no-margin">{{constantes._finalizar}}</ion-button>
  </div>
</ion-footer> -->