<app-cabecera [titulo]="constantes._registro"></app-cabecera>

<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">        
    <ion-item>
      <ion-label position="floating" >{{constantes._identificacion}}<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required [(ngModel)]=usuario.persona.identificacion type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" lang="es">{{constantes._correoElectronico}}<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required [(ngModel)]=usuario.correo type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" lang="es">{{constantes._usuario}}<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required [(ngModel)]=usuario.usuario type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" lang="es">{{constantes._contrasenia}}<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required [(ngModel)]=usuario.contrasenia type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" lang="es">{{constantes._confirmarContrasenia}}<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required [(ngModel)]=contrasenia type="password"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <div>
    <ion-button expand="block" type="ion-button" (click)="crearCuenta()" class="ion-no-margin">{{constantes._crearCuenta}}</ion-button>
  </div>
  <div >
    <ion-button expand="block" type="ion-button" (click)="cancelar()" class="ion-no-margin">{{constantes._cancela}}</ion-button>
  </div>
</ion-footer>