.registro-foto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 10px;

}

.foto-avatar {
    height: 100px;
    width: 100px;
}

.texto-foto-perfil {
    padding-top: 5px;

}