ion-button {
    margin:0px 5px 10px 10px;
}
ion-footer{
    margin-bottom: 10px;
}
.logo {
    background-image: url(../../assets/img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border: none;
    width: 100%;
    height: 40vh;
    overflow: auto;
}