<app-cabecera [titulo]="constantes._favores" [menuVisible]="true"></app-cabecera>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="favores-todos">
        <ion-icon name="swap-vertical-outline"></ion-icon>
        <ion-label>{{constantes._todos}}</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>
      <ion-tab-button tab="favores-solicitados">
        <ion-icon name="arrow-up-outline"></ion-icon>
        <ion-label>{{constantes._solicitados}}</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>
      <ion-tab-button tab="favores-realizados">
        <ion-icon name="arrow-down-outline"></ion-icon>
        <ion-label>{{constantes._realizados}}</ion-label>
        <!-- <ion-badge>6</ion-badge> -->
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-outline" (click)="nuevoFavor()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
