.calificacion-botones {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
}

.boton-estrella {
    height: auto;
}

.favor-calificacion-primaria {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 5px ;
    padding-bottom: 10px;
}

.favor-estrella-primaria {
    font-size: 50px;
}

ion-button {
    --padding-end: 5px !important;
    --padding-start: 5px !important;
}

ion-card {
    margin-inline: 0px;
    margin: 0px;
}

.calificacion-titulo {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 5px;
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 2px;
    font-family: var(--ion-font-family, inherit);
}

.calificacion-descripcion {
    font-size: 16px;
    color: var(--ion-color-step-550, #737373);
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: var(--ion-font-family, inherit);
}

.calificacion-boton {
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    margin-right: 8px;
}