<app-cabecera [titulo]="constantes._datosPersonales"></app-cabecera>

<ion-content>
  <form onsubmit="processForm(event)">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">        
        <ion-item>
          <ion-label position="floating" >{{constantes._nombresApellidos}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" lang="es">{{constantes._nacionalidad}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" lang="es">{{constantes._nivelEstudios}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
        <ion-item>
          <!-- https://ionicframework.com/docs/api/select -->
          <ion-label>{{constantes._nivelEstudios}}</ion-label>
          <ion-select value="primaria" okText="Okay" cancelText="Dismiss" placeholder="Select One" interface="popover"> 
            <ion-select-option value="primaria">Primaria</ion-select-option>
            <ion-select-option value="secundaria">Secundaria</ion-select-option>
            <ion-select-option value="profesional">Profesional</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating" lang="es">{{constantes._profesion}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" lang="es">{{constantes._ocupacion}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" lang="es">{{constantes._licencia}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" lang="es">{{constantes._placaVehiculo}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{constantes._otros}}</ion-label>
          <ion-textarea value="Ionic enables dev" maxlength="250"></ion-textarea>
        </ion-item>
      </ion-list>
      <div>
        <ion-button expand="block" type="submit" class="ion-no-margin">{{constantes._finalizar}}</ion-button>
      </div>
    </form>
</ion-content>

<app-pie-pagina></app-pie-pagina>