<app-cabecera [titulo]="constantes._registro"></app-cabecera>

<ion-content>
  <form onsubmit="processForm(event)">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">        
        <ion-item>
          <ion-label position="floating" >{{constantes._identificacion}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" lang="es">{{constantes._correoElectronico}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" lang="es">{{constantes._usuario}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" lang="es">{{constantes._contrasenia}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" lang="es">{{constantes._confirmarContrasenia}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
      </ion-list>
      <div>
        <ion-button expand="block" type="ion-button" (click)="abrirDatosPersonales()" class="ion-no-margin">{{constantes._crearCuenta}}</ion-button>
      </div>
      <div >
          <ion-button expand="block" type="ion-button" (click)="abrirLogin()" class="ion-no-margin">{{constantes._cancela}}</ion-button>
        </div>
    </form>
</ion-content>

<app-pie-pagina></app-pie-pagina>