<app-cabecera [titulo]="constantes._inicioSesion"></app-cabecera>

<ion-content>
  <ion-thumbnail>
    <ion-img src="../../assets/img/logo.png"></ion-img>
  </ion-thumbnail>
  <form>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">        
        <ion-item>
          <ion-label position="floating" >{{constantes._usuario}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" lang="es">{{constantes._contrasenia}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="password"></ion-input>
        </ion-item>
      </ion-list>
      <div>
        <ion-button expand="block" type="ion-button" (click)="abrirFavores()" class="ion-no-margin">{{constantes._iniciarSesion}}</ion-button>
      </div>
      <div>
          <ion-button expand="block" type="ion-button" (click)="abrirRegistro()" class="ion-no-margin">{{constantes._registrar}}</ion-button>
        </div>
    </form>
    <ion-list>
      <button ion-item *ngFor="let usuario of usuarios">
        {{usuario.name}}
      </button>
    </ion-list>
</ion-content>

<app-pie-pagina></app-pie-pagina>