<ion-app>
  <!-- can be "xs", "sm", "md", "lg", or "xl" -->
  <ion-split-pane when="md" contentId="main">
    <ion-menu side="start" menuId="first" contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <div class="cabecera-menu">
            <ion-avatar class="foto-avatar" *ngIf="usuarioDTO?.foto" (click)="verFoto(usuarioDTO?.foto)">
              <img [src]="usuarioDTO?.foto">
            </ion-avatar>
            <div>
              <label>{{usuarioDTO?.persona?.nombresApellidos}}</label>
            </div>
            <div>
              <small>{{usuarioDTO?.usuario}}</small>
            </div>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle *ngFor="let c of componentes | async" autoHide="false">
            <ion-item [routerLink]="c.redirectTo" detail (click)="c.icon=='log-out-outline'?cerrarSesion():''">
              <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
              {{c.name}}
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
