.cabecera-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.foto-avatar {
    height: 70px;
    width: 70px;
}