<app-cabecera [titulo]="constantes._favor"></app-cabecera>

<ion-content class="ion-padding">
  <div fixed  *ngIf="favor">
      <div>
        <ion-text class="ion-text-center">
          <h2>
            {{favor.titulo}}
          </h2>
        </ion-text>
      </div>
      <ion-item lines="none" *ngIf="!tipoFavor || tipoFavor==tipoFavorEnum.realizado">
        <ion-avatar slot="start">
          <ion-img src="../../../assets/img/logo.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <ion-text>
            <h2>
              {{favor.usuarioSolicita?.persona?.nombresApellidos}} aaa
            </h2>
          </ion-text>
          <div class="favor-calificacion-secundaria">
            <ion-icon [name]="i<=favor.calificacionSolicita?'star':'star-outline'" color="primary" *ngFor="let i of [1,2,3,4,5]"></ion-icon>
          </div>
        </ion-label>
      </ion-item>
      <ion-item lines="none" *ngIf="tipoFavor==tipoFavorEnum.solicitado && favor.usuarioRealiza">
        <ion-avatar slot="start">
          <ion-img src="../../../assets/img/logo.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <ion-text>
            <h2>
              {{favor.usuarioRealiza?.persona?.nombresApellidos}}
            </h2>
          </ion-text>
          <div class="favor-calificacion-secundaria">
            <ion-icon [name]="i<=favor.calificacionRealiza?'star':'star-outline'" color="primary" *ngFor="let i of [1,2,3,4,5]"></ion-icon>
          </div>
        </ion-label>
      </ion-item>
      <p>
        {{favor.descripcion}}
      </p>
      <div *ngIf="favor.tipoPago==tipoPagoEnum.valorMonetario" class="favor-pago">
        <div>
          <h5>Pago: </h5>
        </div>
        <div>
          <h4>
            <span class="texto-primario">
              ${{favor.valorPago}}
            </span>
          </h4>
        </div>
      </div>
      <ion-card *ngIf="favor.tipoPago!==tipoPagoEnum.valorMonetario">
        <ion-card-header>
          <ion-card-title class="favor-subtitulo">
            <div>
              <h5>Pago:</h5>
            </div>
            <div>
              <h4>
                <span *ngIf="favor.tipoPago==tipoPagoEnum.obsequio" class="texto-primario">
                  <ion-icon name="gift-outline"></ion-icon>
                </span>
                <span *ngIf="favor.tipoPago==tipoPagoEnum.favor"  class="texto-primario">
                  <ion-icon name="hand-left-outline"></ion-icon>
                </span>
              </h4>
            </div>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{favor.descripcionPago}}
        </ion-card-content>
      </ion-card>
      <div>
        {{favor.estado}}
      </div>
      <div class="favor-calificacion-primaria">
        <ion-button (click)="calificar(i)" fill="clear" *ngFor="let i of [1,2,3,4,5]">
          <ion-icon class="favor-estrella-primaria" slot="icon-only" [name]="i<=favor.calificacionSolicita?'star':'star-outline'" color="primary"></ion-icon>
        </ion-button>
      </div>
      <div class="botones-inferiores" *ngIf="tipoFavor==tipoFavorEnum.solicitado">
        <ion-button expand="block" *ngIf="favor.estado==estadofavorEnum.solicitado" (click)="realizarAccion(accionFavorEnum.cancelaSolicitante)">{{constantes._cancelar}}</ion-button>
        <ion-button expand="block" *ngIf="favor.estado==estadofavorEnum.aceptado" (click)="realizarAccion(accionFavorEnum.aceptaSolicitante)">{{constantes._aceptar}}</ion-button>
        <ion-button expand="block" *ngIf="favor.estado==estadofavorEnum.aceptado" (click)="realizarAccion(accionFavorEnum.rechazaSolicitante)">{{constantes._rechazar}}</ion-button>
        <ion-button expand="block" *ngIf="favor.estado==estadofavorEnum.realizando" (click)="realizarAccion(accionFavorEnum.finalizaSolicitante)">{{constantes._finalizar}}</ion-button>
        <ion-button expand="block" *ngIf="favor.estado==estadofavorEnum.finalizado && favor.calificacionRealiza>0" (click)="realizarAccion(accionFavorEnum.calificaSolicitante)">{{constantes._calificar}}</ion-button>
      </div>
      <div class="botones-inferiores" *ngIf="tipoFavor==tipoFavorEnum.realizado">
        <ion-button expand="block" *ngIf="favor.estado==estadofavorEnum.aceptado" (click)="realizarAccion(accionFavorEnum.cancelaAyudante)">{{constantes._cancelar}}</ion-button>
        <ion-button expand="block" *ngIf="favor.estado==estadofavorEnum.realizando" (click)="realizarAccion(accionFavorEnum.finalizaAyudante)">{{constantes._finalizar}}</ion-button>
        <ion-button expand="block" *ngIf="favor.estado==estadofavorEnum.finalizado && favor.calificacionSolicita>0" (click)="realizarAccion(accionFavorEnum.calificaAyudante)">{{constantes._calificar}}</ion-button>
      </div>
      <div class="botones-inferiores" *ngIf="!tipoFavor">
        <ion-button expand="block" *ngIf="favor.estado==estadofavorEnum.solicitado" (click)="realizarAccion(accionFavorEnum.aceptaAyudante)">{{constantes._aceptar}}</ion-button>
      </div>
  </div>


  <!-- <ion-list lines="full" class="ion-no-margin ion-no-padding">   
    <ion-item>
        <h1>Titulo</h1>
    </ion-item>     
    <ion-item>
      <ion-label>nombre
      </ion-label>
      <ion-label>puntaje
      </ion-label>
    </ion-item>
    <ion-item>
        <p>descripcion</p>
    </ion-item>  
    <ion-item>
      <ion-label>{{constantes._formaPago}}:
      </ion-label>
      <ion-label>forma
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{constantes._ubicacion}}:
      </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>{{constantes._calificacion}}
        </ion-label>
      </ion-item>
  </ion-list>
  <div>
    <ion-button expand="block" type="submit" class="ion-no-margin">{{constantes._realizar}}</ion-button>
  </div> -->
</ion-content>

<!-- <app-pie-pagina></app-pie-pagina> -->