<app-cabecera [titulo]="constantes._favor"></app-cabecera>

<ion-content class="ion-padding">
  <div fixed *ngIf="favor">
    <div class="datos-formulario">
      <div class="div-estado-fecha">
          <small>{{favor.fechaSolicita | date:'mediumDate'}}</small>
          <ion-badge [color]="favor.estado|colorEstadoPipe" [class]="favor.calificacionSolicita?'favores-estado':''">
            {{favor.estado==estadofavorEnum.calificado?estadofavorEnum.finalizado:favor.estado}}
          </ion-badge>  
      </div>
      <div>
        <ion-text class="ion-text-center">
          <h2>
            {{favor.titulo}}
          </h2>
        </ion-text>
      </div>
      <ion-item lines="none">
        <ion-avatar slot="start" (click)="verInformacionPersonal(favor.usuarioSolicita)">
          <ion-img [src]="fotoSolicita"></ion-img>
        </ion-avatar>
        <ion-label (click)="verInformacionPersonal(favor.usuarioSolicita)">
          <div>
            <small class="texto-primario">Solicita:</small>
          </div>
          <ion-text color="medium">
            <i>{{personaSolicita?.nombresApellidos}}</i>
          </ion-text>
          <div class="favor-calificacion-secundaria" *ngIf="favor.calificacionRealiza>0">
            <ion-icon [name]="i<=favor.calificacionRealiza?'star':'star-outline'" color="warning" *ngFor="let i of [1,2,3,4,5]"></ion-icon>
          </div>
        </ion-label>
      </ion-item>
      <div *ngIf="favor.usuarioRealiza">
        <ion-item lines="none">
          <ion-label class="label-favor-ayudante" (click)="verInformacionPersonal(favor.usuarioRealiza)">
            <div>
              <small class="texto-primario">Ayuda:</small>
            </div>
            <ion-text color="medium">
              <i>{{personaRealiza?.nombresApellidos}}</i>
            </ion-text>
            <div class="favor-calificacion-secundaria" *ngIf="favor.calificacionSolicita>0">
              <ion-icon [name]="i<=favor.calificacionSolicita?'star':'star-outline'" color="warning" *ngFor="let i of [1,2,3,4,5]"></ion-icon>
            </div>
          </ion-label>
          <ion-avatar slot="end" (click)="verInformacionPersonal(favor.usuarioRealiza)">
            <ion-img [src]="fotoRealiza"></ion-img>
          </ion-avatar>
        </ion-item>
      </div>
      <p>
        {{favor.descripcion}}
      </p>
      <div *ngIf="favor.tipoPago==tipoPagoEnum.valorMonetario" class="favor-pago">
        <ion-item lines="none">
          <ion-label>Pago:</ion-label>
          <ion-badge color="primary" slot="end">$ {{favor.valorPago}}</ion-badge>
        </ion-item>
      </div>
      <ion-card *ngIf="favor.tipoPago!==tipoPagoEnum.valorMonetario">
        <ion-card-header>
          <ion-card-title class="favor-subtitulo">
            <div>
              <h5>Pago:</h5>
            </div>
            <div>
              <h4>
                <span *ngIf="favor.tipoPago==tipoPagoEnum.obsequio" class="texto-primario">
                  <ion-icon name="gift-outline"></ion-icon>
                </span>
                <span *ngIf="favor.tipoPago==tipoPagoEnum.favor"  class="texto-primario">
                  <ion-icon name="hand-left-outline"></ion-icon>
                </span>
              </h4>
            </div>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{favor.descripcionPago}}
        </ion-card-content>
      </ion-card>
    </div>
    <div class="botones-inferiores-dos-botones" *ngIf="tipoFavor==tipoFavorEnum.solicitado && favor.estado!==estadofavorEnum.pendiente">
      <div></div>
      <ion-button expand="block" *ngIf="favor.estado==estadofavorEnum.solicitado" (click)="realizarAccion(accionFavorEnum.cancelaSolicitante)">{{constantes._cancelarSolicitud}}</ion-button>
      <ion-button expand="block" *ngIf="favor.estado==estadofavorEnum.realizando" (click)="realizarAccion(accionFavorEnum.finalizaSolicitante)">{{constantes._finalizar}}</ion-button>
      <ion-button expand="block" *ngIf="favor.estado==estadofavorEnum.finalizado && favor.calificacionRealiza>0" (click)="realizarAccion(accionFavorEnum.calificaSolicitante)">{{constantes._calificar}}</ion-button>
    </div>
    <div class="botones-inferiores-dos-botones" *ngIf="tipoFavor==tipoFavorEnum.solicitado && favor.estado==estadofavorEnum.pendiente">
      <ion-button expand="block" (click)="realizarAccion(accionFavorEnum.aceptaSolicitante)">{{constantes._aceptarAyuda}}</ion-button>
      <ion-button expand="block" (click)="realizarAccion(accionFavorEnum.rechazaSolicitante)">{{constantes._rechazarAyuda}}</ion-button>
    </div>
    <div class="botones-inferiores-dos-botones" *ngIf="tipoFavor==tipoFavorEnum.realizado">
      <div></div>
      <ion-button expand="block" *ngIf="favor.estado==estadofavorEnum.pendiente" (click)="realizarAccion(accionFavorEnum.cancelaAyudante)">{{constantes._cancelarAyudar}}</ion-button>
      <ion-button expand="block" *ngIf="favor.estado==estadofavorEnum.realizando" (click)="realizarAccion(accionFavorEnum.finalizaAyudante)">{{constantes._finalizar}}</ion-button>
      <ion-button expand="block" *ngIf="favor.estado==estadofavorEnum.finalizado && favor.calificacionSolicita>0" (click)="realizarAccion(accionFavorEnum.calificaAyudante)">{{constantes._calificar}}</ion-button>
      
    </div>
    <div class="botones-inferiores-dos-botones" *ngIf="!tipoFavor">
      <div></div>
      <ion-button expand="block" *ngIf="favor.estado==estadofavorEnum.solicitado" (click)="realizarAccion(accionFavorEnum.aceptaAyudante)">{{constantes._ayudar}}</ion-button>
      
    </div>
  </div>


  <!-- <ion-list lines="full" class="ion-no-margin ion-no-padding">   
    <ion-item>
        <h1>Titulo</h1>
    </ion-item>     
    <ion-item>
      <ion-label>nombre
      </ion-label>
      <ion-label>puntaje
      </ion-label>
    </ion-item>
    <ion-item>
        <p>descripcion</p>
    </ion-item>  
    <ion-item>
      <ion-label>{{constantes._formaPago}}:
      </ion-label>
      <ion-label>forma
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{constantes._ubicacion}}:
      </ion-label>
    </ion-item>
    <ion-item>
        <ion-label>{{constantes._calificacion}}
        </ion-label>
      </ion-item>
  </ion-list>
  <div>
    <ion-button expand="block" type="submit" class="ion-no-margin">{{constantes._realizar}}</ion-button>
  </div> -->
</ion-content>

<!-- <app-pie-pagina></app-pie-pagina> -->