<ion-header class="ion-no-border" translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="!ocultarBotones && menuVisible" menu="first"></ion-menu-button>
      <ion-back-button *ngIf="!ocultarBotones && !menuVisible" defaultHref="/" text="Regresar" mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{titulo}}</ion-title>
  <!-- <ion-buttons slot="end">
    <ion-button color="light">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
    <ion-avatar>
      <ion-img src="/assets/stan-lee.jpg"></ion-img>
    </ion-avatar>
  </ion-buttons> -->
  </ion-toolbar>
  <!-- <ion-searchbar placeholder="Buscar album" animated inputmode="text" (ionChange)="onSearchChange($event)" [debounce]="250">
  </ion-searchbar> -->
</ion-header>
