<app-cabecera [titulo]="constantes._solicitud"></app-cabecera>

<ion-content>
  <form onsubmit="processForm(event)">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">        
        <ion-item>
          <ion-label position="floating" >{{constantes._titulo}}<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">{{constantes._descripcion}}</ion-label>
          <ion-textarea value="" maxlength="250"></ion-textarea>
        </ion-item>
                <!-- <ion-item>
          <ion-label>{{constantes._formaPago}}</ion-label>
          <ion-alert-controller></ion-alert-controller>
        <ion-button expand="block">Show Alert</ion-button>
        </ion-item> -->
      </ion-list>
          <ion-list-header>{{constantes._filtros}}</ion-list-header>
          <p>
            <ion-chip  color="primary">
              <ion-icon name="filtro1"></ion-icon>
              <ion-label>Filtro 1</ion-label>
              <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
            <ion-chip outline color="secondary">
              <ion-icon name="filtro2"></ion-icon>
              <ion-label>Filtro 2</ion-label>
              <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
            <ion-chip outline color="tertiary">
              <ion-icon name="filtro3"></ion-icon>
              <ion-label>Filtro 3</ion-label>
              <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
            <ion-chip outline color="dark">
              <ion-icon name="filtro4"></ion-icon>
              <ion-label>Filtro 4</ion-label>
              <ion-icon name="close-circle"></ion-icon>
            </ion-chip>
          </p>
        <ion-list>
        <ion-item>
          <ion-label >{{constantes._ubicacion}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button>
            <ion-icon name="redo"></ion-icon>
          </ion-fab-button>
        </ion-fab>
    </form>
</ion-content>

<app-pie-pagina></app-pie-pagina>