<app-cabecera [titulo]="constantes._datosPersonales"></app-cabecera>

<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">        
    <ion-item>
      <ion-label position="floating" >{{constantes._nombresApellidos}}<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text" [(ngModel)]="persona.nombresApellidos"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{constantes._pais}}</ion-label>
      <ion-select [compareWith]="compareWith" [(ngModel)]="pais" multiple="false" 
      [placeholder]="pais ? pais : 'Seleccione un Pais'"
      (ngModelChange)="seleccionarPais()">
            <ion-select-option *ngFor="let objPais of paises" [value]="objPais">
              {{objPais.nombre}}
            </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="persona.nacionalidad">
      <ion-label position="floating" lang="es">{{constantes._nacionalidad}}
      </ion-label>
      <ion-input type="text" disabled [(ngModel)]="persona.nacionalidad.nombre"></ion-input>
    </ion-item>
    <ion-item *ngIf="pais">
      <ion-label>{{constantes._ciudad}}</ion-label>
      <ion-select [compareWith]="compareWith" [(ngModel)]="ciudad" multiple="false" 
      [placeholder]="ciudad ? ciudad : 'Seleccione una Ciudad'">
            <ion-select-option *ngFor="let objCiudad of ciudades" [value]="objCiudad">
              {{objCiudad.nombre}}
            </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{constantes._nivelEstudios}}</ion-label>
      <ion-select [compareWith]="compareWith" [(ngModel)]="persona.nivelEstudios" multiple="false" 
      [placeholder]="persona.nivelEstudios ? persona.nivelEstudios : 'Seleccione un nivel de estudios'"
      (ngModelChange)="seleccionarNivelEstudios()">
            <ion-select-option *ngFor="let objNivelEstudios of nivelesEstudios" [value]="objNivelEstudios">
              {{objNivelEstudios.nombre}}
            </ion-select-option>
      </ion-select>
    </ion-item>
    <!-- <ion-item>
      <ion-label position="floating" lang="es">{{constantes._nivelEstudios}}<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input  type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{constantes._nivelEstudios}}</ion-label>
      <ion-select value="primaria" okText="Okay" cancelText="Dismiss" placeholder="Select One" interface="popover"> 
        <ion-select-option value="primaria">Primaria</ion-select-option>
        <ion-select-option value="secundaria">Secundaria</ion-select-option>
        <ion-select-option value="profesional">Profesional</ion-select-option>
      </ion-select>
    </ion-item> -->
    <ion-item *ngIf="persona.nivelEstudios && persona.nivelEstudios.nombre=='Profesional'">
        <ion-label>{{constantes._profesion}}</ion-label>
        <ion-select [compareWith]="compareWith" [(ngModel)]="persona.profesion" multiple="false" 
        [placeholder]="persona.profesion ? persona.profesion : 'Seleccione una profesion'">
              <ion-select-option *ngFor="let objProfesion of profesiones" [value]="objProfesion">
                {{objProfesion.nombre}}
              </ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>{{constantes._ocupacion}}</ion-label>
        <ion-select [compareWith]="compareWith" [(ngModel)]="persona.ocupacion" multiple="false" 
        [placeholder]="persona.ocupacion ? persona.ocupacion : 'Seleccione una ocupacion'">
              <ion-select-option *ngFor="let objOcupacion of ocupaciones" [value]="objOcupacion">
                {{objOcupacion.nombre}}
              </ion-select-option>
        </ion-select>        
    </ion-item>
    <ion-item>
      <ion-label>{{constantes._tipoLicencia}}</ion-label>
      <ion-select [compareWith]="compareWith" [(ngModel)]="persona.tipoLicencia" multiple="false" 
      [placeholder]="persona.tipoLicencia ? persona.tipoLicencia : 'Seleccione un tipo de licencia'">
            <ion-select-option *ngFor="let objTipoLicencia of tiposLicencia" [value]="objTipoLicencia">
              {{objTipoLicencia.nombre}}
            </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="persona.tipoLicencia">
      <ion-label position="floating" lang="es">{{constantes._licencia}}
      </ion-label>
      <ion-input  [(ngModel)]="persona.licencia" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{constantes._tipoVehiculo}}</ion-label>
      <ion-select [compareWith]="compareWith" [(ngModel)]="tipoVehiculo" multiple="false" 
      [placeholder]="tipoVehiculo ? tipoVehiculo : 'Seleccione un tipo de vehículo'">
            <ion-select-option *ngFor="let objTipoVehiculo of tiposVehiculos" [value]="objTipoVehiculo">
              {{objTipoVehiculo.nombre}}
            </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="tipoVehiculo">
      <ion-label position="floating" lang="es">{{constantes._placaVehiculo}}
      </ion-label>
      <ion-input [(ngModel)]="placaVehiculo" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">{{constantes._otros}}</ion-label>
      <ion-textarea  [(ngModel)]="persona.informacionAdicional"  maxlength="250"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <div>
    <ion-button expand="block" type="ion-button" (click)="finalizar()" class="ion-no-margin">{{constantes._finalizar}}</ion-button>
  </div>
</ion-footer>